body {
  background-image: url(../assets/bgmovie.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .bg_overlay {
    background-color: rgba(0, 0, 0, 0.849);
  }
}
